h2 {
    color:aqua 
}
div.gallery {
 margin: 5px;
 border: 1px solid #ccc;
 float: left;
 width: 180px;
 background-color: whitesmoke;

}

div.gallery:hover {
 border: 1px solid #777;
}

div.gallery img {
 width: 100%;
 height: auto;
 background-color: aliceblue;
}

div.desc {
 padding: 15px;
 text-align: center;
}
body {
background-image: url("./img/gallery.jfif");
background-position-y: 70px;
}