div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    background-color: whitesmoke;
}

   div.gallery:hover {
    border: 1px solid #777;
}

   div.gallery img {
    width: 100%;
    height: auto;
}

   div.desc {
    padding: 15px;
    text-align: center;
   }
   body {
   background-image: url("./img/toshiro banner.png");
   background-position-y: 359px;
   background-position-x: 350px;
   }